.nv{
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.custom-navbar {
    background-color:darkgray;
    
  }
  .nm{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .welcome-text {
    margin-left: auto;
  }
  